@import "libs/reset.scss";
@import "libs/utils.scss";
@font-face {
    font-family: Shrikhand;
    src: url(Shrikhand-Regular.ttf);
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
}

a, a:visited{
    text-decoration: none;
    color: black;
    &:hover{cursor: pointer;}
}

header{
    margin-top: 7%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        width: 60%;}
}
.btn__location{
    width: 100%;
    height: 60px;
    margin-top: 15px;
    -webkit-box-shadow: inset 0px 8px 3px -8px rgba(0,0,0,0.38); 
    box-shadow: inset 0px 8px 5px -9px rgba(0,0,0,0.38);
    background:darken($backgound-color, $amount: 5%);
    border: none;
    .localisation{
        margin-right: 20px;}
}

.header__explor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$backgound-color;
}
button{
    font-weight: 500;
}

h1{ 
    @include font-size-bold;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.header__explor--p{  width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 300;
}

.header__explor--btn{
    border-radius: 30px;
    padding: 15px 25px 15px 25px;
    color: white;
    background: linear-gradient(180deg, rgba(236,114,218,1) 0%, rgba(147,86,220,1) 135%);
    border: none;
    margin-bottom: 40px;
}
h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
li{ 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:300,bold;
    .btn__nav{
        display: flex;
        width: 300px;
        background-color:$backgound-color;
        box-shadow:1px 3px 5px $header;
        border: none;
        padding: 20px;
        border-radius: 13px;
        margin-left: -10px;
        &:hover{
            background-color: lighten($primary-color, $amount: 34%);
            .btn__nav--icon{color:$primary-color;}
        }
    }
}
.numbers__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    width: 20px;
    height: 20px;

}
.btn__nav--icon{
    margin-left:10px;
    margin-right: 20px;
    color:darken($backgound-color, $amount: 40%);
}
section{
    background-color: $backgound-color;
    width: 100;
    min-width: 375px;
}
.card__restaurant{
    margin: 5%;
    width: 90%;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
}

.img__restaurant{
    height: 170px;
    overflow: hidden;
}

.img__restaurant--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.name__restaurant{
    display:flex;
    flex-direction: column;
    h3{margin: 10px 0px 5px 10px}
    p{  font-weight: 300;
        margin: 0px 0px 5px 10px;}
}
.heart{
    font-weight: 300;
    position: absolute;
    bottom: 20px;
    right: 20px;
    }