@import "libs/reset.scss";
@import "libs/utils.scss";

body{
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}
a, a:visited{
    text-decoration: none;
    color: inherit;
}
/*logo & header*/
.logo{
    width: 40%;
    margin: auto;
}
header{
    margin-top: 7%;
    margin-bottom: 4%;
}
/*navigation */
nav{
    display: flex;
    align-items: center;
}
/* navigation fleche retour*/
.return__arrow{
    color: $footer;
    position: relative;
    left: 25px;
}
.btn__return{
    display: none;
}
/*box titre + coeur animé*/
.like__h1{
    display: flex;
    align-items: center;
}

.btn__heart{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 40px;
}
.heart__fill{
    font-size: 25px;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    color: transparent;
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    @include linear-gradient;
    transform: scale(1.1);
    transition: all 1s;
    &:hover{
        opacity: 1;
        z-index: 1;
    }
} 
.heart__empty{
    font-size: 25px;
    position: absolute;
    &:hover{
        opacity: 0;
        z-index: 0;
    }
}
/*taille image*/
.img__restaurant{
    width:100%;
    height: 270px;
    object-fit: cover;
}
/*font size*/

h1{
    position: relative;
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
    margin-left: 3%;
}
h2{
    margin-left: 3%;
    font-weight:$font-weight-300;
    text-transform: uppercase;
}
.border__bottom{/*soulignement en vert des entrées plats dessert*/
    padding-bottom: 5px;
    border-bottom: 3px solid $tertiary-color;
    width: 40px;
    margin-top: 20px;
    margin-left:3% ;
}
h3{
    padding-top:10px;
    padding-left: 10px;
}
p{
    font-weight:$font-weight-300 ;
    font-size: $font-size-menu;
    padding-top:5px;
    padding-left: 10px;
    padding-bottom: 10px;
}
/*les menus*/
.section__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $backgound-color;
    border-radius: 30px 30px 0px 0px ;
    margin-top: -55px;
    padding-top: 30px;
    position: relative;
}
/*les menus */
.box__food{
    background-color: white;
    border: none;
    border-radius: 15px;
    margin: 3%;
    @include box-shadow-black;
    display: flex;
    overflow: hidden;
    position: relative;
    animation: slide-up 2s both;
    transition: all 0.5s;
    opacity: 0;
}
/*les menus animée vers le haut*/
@keyframes slide-up{
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}/*delay animation retardé*/
.box__food--1{animation-delay: 0s;}
.box__food--2{animation-delay: 0.5s;}
.box__food--3{animation-delay: 1s;}
.box__food--4{animation-delay: 0s;}
.box__food--5{animation-delay: 0.5s;}
.box__food--6{animation-delay: 1s;}
.box__food--7{animation-delay: 0s;}
.box__food--8{animation-delay: 0.5s;}
.box__food--9{animation-delay: 1s;}
.box__food--10{animation-delay: 1.5s;}

.box__food:hover .checkbox, .box__food:active .checkbox{
    transform: translateX(0%);
    z-index: 1;
    }
/*les prix*/
.price__bold{
    font-weight: 500;
}
.price__box{
    height: 50%;
    position: absolute;
    bottom: 3px;
    right: 15px;
    transition: all 1s;
}
.box__food:hover .price__box, .box__food:active .price__box{/*décalage du prix vers la gauche*/
    transform: translateX(-70px);}

.text__box{/*rogner du texte vers la gauche*/ 
    width: 75%;
    transition: all 1s;
    h3,p{    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;}
}
.box__food:hover .text__box, .box__food:active .text__box{/*taille de la boite pour rogner le texte*/
    width: 60%;
}
*/*boite verte cacher vers la droite */
.checkbox{
    position: absolute;
    z-index: -1;
    color: white;
    background-color: $tertiary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    right: 0px;
    bottom: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.link__box{
    width: 100%;
    display: flex;
}
.fa-circle-check{
    font-size: 25px;
}
/*boite verte défilement vers la gauche*/
@keyframes roll{
    100%{
        transform: rotate(360deg)
    }
}
.box__food:hover .fa-circle-check, .box__food:active .fa-circle-check{
    animation: roll 1s;
}
/*bouton commander*/
.command__btn{
    text-align: center;
    width: 180px;
    border-radius: 30px;
    padding: 15px 25px 15px 25px;
    color: white;
    @include linear-gradient;
    border: none;
    margin-bottom: 25%;
    @include box-shadow-black;
    &:hover{
        @include box-shadow-btn;
    }
}

.command__box{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Footer */

footer{
    background-color: $footer;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    ul li{
        margin: 15px;}
}

.logo__bottom{
    margin:15px 0px 5px 15px;
    font-family: 'Shrikhand', cursive;}

.icon__footer{
    margin-right: 10px;}

.icon__footer--2{
    margin-right: 5px;}
