body{
    max-width: 1440px;
    margin: auto;
}
.logo{
    width: 20%;
}

.img__restaurant{
    height: 350px;
}
/*ajout bouton retour pc et tablette*/
.btn__return{
    display: inline-block;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
}
/*aligmement des menus en cologne*/
.section__menu{
    border-radius: 0;
}
.section__menu--desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*centrage titre*/
h1{margin: auto;
}
/*changement des tailles pour tablette et pc*/
.starter{
    width: 30%;
}

.main__course{
    width: 30%;
}

.dessert{
    width: 30%;
}